language: go

go:
  - "1.11.x"
  - "1.12.x"
services:
  - redis-server
  - mysql
  - postgresql
  - memcached
env:
  global:
    - GO_REPO_FULLNAME="github.com/astaxie/beego"
  matrix:
    - ORM_DRIVER=sqlite3   ORM_SOURCE=$TRAVIS_BUILD_DIR/orm_test.db
    - ORM_DRIVER=postgres ORM_SOURCE="user=postgres dbname=orm_test sslmode=disable"
before_install:
   # link the local repo with ${GOPATH}/src/<namespace>/<repo>
 - GO_REPO_NAMESPACE=${GO_REPO_FULLNAME%/*}
   # relies on GOPATH to contain only one directory...
 - mkdir -p ${GOPATH}/src/${GO_REPO_NAMESPACE}
 - ln -sv ${TRAVIS_BUILD_DIR} ${GOPATH}/src/${GO_REPO_FULLNAME}
 - cd ${GOPATH}/src/${GO_REPO_FULLNAME}
   # get and build ssdb
 - git clone git://github.com/ideawu/ssdb.git
 - cd ssdb
 - make
 - cd ..
install:
  - go get -u honnef.co/go/tools/cmd/staticcheck
  - go get -u github.com/mdempsky/unconvert
  - go get -u github.com/gordonklaus/ineffassign
  - go get -u golang.org/x/lint/golint
before_script:
  - psql --version
  - sh -c "if [ '$ORM_DRIVER' = 'postgres' ]; then psql -c 'create database orm_test;' -U postgres; fi"
  - sh -c "if [ '$ORM_DRIVER' = 'mysql' ]; then mysql -u root -e 'create database orm_test;'; fi"
  - sh -c "if [ '$ORM_DRIVER' = 'sqlite' ]; then touch $TRAVIS_BUILD_DIR/orm_test.db; fi"
  - sh -c "go get -u github.com/kardianos/govendor; govendor sync"
  - sh -c "go get golang.org/x/lint/golint; golint ./...;"
  - sh -c "go list ./... | grep -v vendor | xargs go vet -v"
  - mkdir -p res/var
  - ./ssdb/ssdb-server ./ssdb/ssdb.conf -d
after_script:
  - killall -w ssdb-server
  - rm -rf ./res/var/*
script:
  - go test -v ./...
  - staticcheck -show-ignored -checks "-ST1017,-U1000,-ST1005,-S1034,-S1012,-SA4006,-SA6005,-SA1019,-SA1024"
  - unconvert $(go list ./... | grep -v /vendor/)
  - ineffassign .
  - find . ! \( -path './vendor' -prune \) -type f -name '*.go' -print0 | xargs -0 gofmt -l -s
  - golint ./...
addons:
  postgresql: "9.6"
